<h1> Create your listing! </h1>

    <%= form_with model: Listing.new, local: true do |form| %>
    
    <%= render partial: "listings/form", object: form %>
    
    <button type="submit" class="btn btn-primary">Create Listing</button>
    <% end %>
